<div data-controller="geolocation" data-loader-lat-value="" data-loader-lon-value="">
  <button data-action="geolocation#search">search near me</button>
  <dir data-geolocation-target="output"></dir>
</div>
